@model IEnumerable<AutoService.Entities.Service>

@{
    ViewData["Title"] = "Servis Kayıtları";
}

<h1>Servis Kayıtları</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarProblem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfExitFromService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionsMade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGuarantee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarPlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BodyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChassisNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.ServiceArrivalDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CarProblem)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ServicePrice)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DateOfExitFromService)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TransactionsMade)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.IsGuarantee)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CarPlate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.BodyType)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ChassisNumber)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
